
:root{
    --txt-dark:#232323;
    --txt-light:#FFFFFF;
    
    --btn-txt-color:#FFFFFF;
    --btn-txt-color2:#EE790E;
    --btn-bg-light:#FFFFFF;
    --btn-bg-color:#EE790E;
    
    --color-1:#EE790E;
    --color-2:#5EE4E0;
    --color-3:#E5F95F;
}
*{
    -webkit-font-smoothing: antialiased;
    font-family: 'Roboto', sans-serif;
    color: #282828;
    font-size: 16px;
    scroll-behavior: smooth;
}
a{
    display: inline-block;
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6{
    font-weight: 800;
    margin: 0;
}
h1{
    font-size: 54px;
}
h2{
    font-size: 46px;
}
h3{
    font-size: 33px;
}
h3.title_section{
    text-transform: uppercase;
    color: var(--txt-dark);
    text-align: center;
    margin-bottom: 20px;
}
h4{
    font-size: 28px;
}
h5{
    font-size: 18px;
}
h6{
    font-size: 16px;
}
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
.center{
    width: 100%;
    margin: auto;
    display: block;
    max-width: 1200px;
}

/* INPUTS MODIFICADOS */

input, textarea{
    outline: 0;
    border: 1px solid #FFFFFF;
    border-radius: 100px;
    font-size: 15px;
    text-align: left;
    color: #232323;
    padding: 8px;
    box-sizing: border-box;
    height: 35px;
    width: 100%;
    background: none;
    position: relative;
}
input[type="checkbox"]{
    width: auto;
    height: auto;
    cursor: pointer;
}
textarea{
    height: auto;
    border-radius: 8px;
}
input[type="submit"]{
    text-align: center;
}
.cont_input{
    position: relative;
    margin-bottom: 10px;
    transition: 300ms ease-out;
    input, textarea{
        transition: 300ms ease-out;
        color: var(--txt-light);
        font-weight: 400;
        padding-left: 14px;
        &:not(:placeholder-shown) + label, textarea:not(:placeholder-shown) + label{
            top: -8px;
            background: #45A09C;
            font-size: 14px;
        }
    }
    label{
        position: absolute;
        top: 9px;
        left: 12px;
        color: var(--txt-light);
        cursor: text;
        font-size: 15px;
        transition: 300ms ease-out;
        font-weight: 800;
        padding: 0 4px;
        box-sizing: border-box;
    }
    &:focus-within{
        input:not(:placeholder-shown) + label, textarea:not(:placeholder-shown) + label{
            top: -8px;
            background: #45A09C;
            font-size: 14px;

        }
        label{
            top: -8px;
            background: #45A09C;
            font-size: 14px;

        }
    }
}

/* HEADER */
.spacer{
    display: block;
    height: 125px;
}
header{
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    background: #f2f2f2;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}
.subheader{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    .sub_h_info a span, .sub_h_info a span{
        margin-right: 10px;
        color: var(--btn-txt-color2);
        font-weight: 500;
        font-size: 20px;
    }
    .sub_h_redes{
        display: flex;
        gap: 10px;
        a{
            background: var(--btn-bg-color);
            width: 27px;
            height: 27px;
            border-radius: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            span{
                color: var(--txt-light);
                background: none;
                font-weight: 800;
            }
        }
    }
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1{
        a{
            width: 200px;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
    .nav_desktop{
        list-style: none;
        padding: 0;
        .nav_links{
            display: flex;
            justify-content: center;
            gap: 10px;
            list-style: none;
            padding: 0;
            margin: 0;
            a{
                padding: 8px;
                box-sizing: border-box;
                &:hover{
                    color: var(--btn-txt-color2);
                    font-weight: 800;
                }
            }
        }
    }
    
    .nav-mobile{
        display: none;
        a{
            cursor: pointer;
        }
    }
}
main{
    background: #F2F2F2;
}

// FOOTER

.cont_gen_footer{
    width: 100%;
    position: relative;
    padding: 20px;
    box-sizing: border-box;
    background: #F2F2F2;
    .bg_gradient{
        background: radial-gradient(53.11% 361.38% at -8.9% 49.87%, rgba(250, 228, 34, 0.68) 0%, rgba(238, 121, 14, 0) 100%), linear-gradient(88.96deg, #5EE4E0 2.33%, #57B6B3 48.3%, #369592 99.33%);
        border-radius: 0px;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 65%;
        transform: rotate(-180deg);
        height: 100%;
        z-index: 1;
    }
    .center_footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        max-width: 1200px;
        margin: auto;
        gap: 30px;
        align-items: baseline;
    }
    .col_footer{
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
        &:last-child{
            align-items: center;
        }
        form.form_contact{
            background: linear-gradient(86.69deg, #32A19D 0.51%, #1A8784 100%);
            filter: drop-shadow(0px 12px 29px rgba(255, 255, 255, 0.34));
            border-radius: 8px;
            max-width: 600px;
            width: 100%;
            padding: 20px;
            box-sizing: border-box;
            h5{
                color: var(--txt-light);
            }
            .contact_form_footer{
                margin: 20px 0;
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 10px;
            }
        }
        nav{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
            justify-content: flex-start;
            width: 100%;
            ul{
                padding: 0;
                list-style: none;
                margin: 0;
                width: 100%;
                max-width: 300vw;
                h5{
                    margin-bottom: 10px;
                    color: var(--txt-light);
                }
                li{
                    width: max-content;
                    a{
                    padding: 4px;
                    margin-bottom: 2px;
                    color: var(--txt-light);
                    transition: 300ms ease-out;
                        &:hover{
                            text-decoration: underline;
                            margin-left: 6px;
                        }
                    }
                }
            }
        }
    }
}
.sub_h_redes{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin: 0;
    a{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 27px;
        height: 27px;
        border-radius: 100px;
        background: var(--btn-bg-light);
        span{
            color: #4BAAA7;
        }
    }
}
.cont_subscribe_footer{
    h5{
        color: var(--txt-light);
        margin-bottom: 5px;
    }
    .form_subscribe{
        margin: 10px 0;
        display: grid;
        grid-template-columns: 2fr 1fr;
        background: #FFFFFF;
        border-radius: 100px;
        button[type="submit"]{
            width: 100%;
            background: var(--btn-bg-color);
            border: 0;
            color: var(--txt-light);
            font-weight: 800;
            font-size: 18px;
            cursor: pointer;
            border-radius: 100px;
        }
        input[type="email"]{
            width: 100%;
        }
    }
    .txt_desc_subm{
        color: var(--txt-light);
        margin-bottom: 10px;
        display: inline-block;
    }
}

// HERO SECTION

.s_hero_section{
    border-radius: 0 0 150px 150px;
    overflow: hidden;
}

.swiperHomeHero{
    background: radial-gradient(117.7% 428.5% at 102.05% 9.52%, rgba(250, 228, 34, 0.69) 0%, rgba(238, 121, 14, 0) 100%), linear-gradient(82.41deg, #57B6B3 8.49%, #5EE4E0 104.64%), url('../images/diseno/01-home/bg-hero.png');
    .swiper-slide{
        height: 70vh;
        .slide_img_pri{
            position: relative;
            z-index: 2;
        }
        .slide_title{
            position: relative;
            .filter-rounded{
                position: absolute;
                inset: 0;
                margin: auto;
                background: radial-gradient(58.42% 58.42% at 14.91% 27.72%, rgba(250, 228, 34, 0.68) 0%, rgba(87, 182, 179, 0.68) 100%), radial-gradient(55.47% 63.23% at 31.3% 13.5%, rgba(87, 182, 179, 0.3) 0%, rgba(63, 125, 124, 0.3) 100%), #3F7D7C;
                filter: blur(15px);
                width: 500px;
                height: 500px;
                border-radius: 1000px;
                z-index: 1;
            }
            h2{
                position: relative;
                z-index: 2;
            }
        }
    }
}
.col_submit{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.cont_term{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    label{
        color: var(--txt-light);
        margin-left: 10px;
        a{
            color: var(--txt-light);
            &:hover{
                text-decoration: underline;
            }
        }
    }
}

button.btn_submit{
    width: 120px;
    padding: 4px 0;
    box-sizing: border-box;
    border-radius: 100px;
    background: var(--btn-bg-light);
    outline: 0;
    border: 0;
    color: var(--btn-txt-color2);
    font-weight: 800;
    height: 30px;
    cursor: pointer;
}

.s_nosotros{
    width: 100%;
    background: url('../images/diseno/01-home/bg_section_aguacate.png')no-repeat center left;
    background-size: contain;
    padding: 80px 0;
    box-sizing: border-box;
}

.cont_gen_nosotros{
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    align-items: center;
    gap: 30px;
    picture{
        width: 100%;
        max-width: 300px;
        margin: auto;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
            filter: drop-shadow(-23px 35px 29px rgba(0, 0, 0, 0.19));
        }
    }
    .cont_desc_nosotros{
        .tit_section{
            margin-bottom: 20px;
            .title_section{
                text-align: left;
            }
        }
        .txt_desc_nosotros{
            max-width: 660px;
            line-height: 1.5;
        }
    }
}

.s_producto{
    width: 100%;
    background: url('../images/diseno/01-home/bg_section_aguacate2.png')no-repeat bottom right;
    background-size: 350px;
    padding: 0 0 80px;
    box-sizing: border-box;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        background: url('../images/diseno/01-home/bg_section_rodaja.png')no-repeat center;
        top: 10%;
        right: 0px;
        background-size: contain;
        width: 338px;
        height: 292px;
    }
}
.cont_gen_productos{
    .desc_section{
        max-width: 780px;
        margin: auto;
        text-align: center;
        margin-bottom: 40px;
        line-height: 1.5;
    }
}
.swiperProductos{
    max-width: 970px;
    .swiper-slide{
        justify-content: center;
        border-radius: 22px;
        overflow: hidden;
        a{
            display: flex;
            flex-direction: column;
            align-items: center;
            &:hover{
                .sec_img_p{
                    opacity: 1;
                }
            }
        }
        picture{
            position: relative;
            display: inline-block;
            .first_img_p{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .sec_img_p{
                opacity: 0;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                z-index: 2;
                left: 0;
                right: 0;
                object-fit: cover;
                transition: 300ms ease-out;
            }
        }
        .tit_product{
            padding: 30px;
            color: #1C6563;
            text-align: center;
            box-sizing: border-box;
            background: var(--color-2);
            width: 100%;
            font-weight: 800;
            font-size: 20px;
        }
    }
}
.cont_cta{
    display: block;
    width: 100%;
    margin: auto;
    text-align: center;
    margin: 40px 0;
    .btn_vermas{
        color: var(--txt-light);
        background: #BBCE36;
        border-radius: 7px;
        text-align: center;
        padding: 6px 8px;
        box-sizing: border-box;
        font-size: 20px;
        font-weight: 800;
        width: 100%;
        max-width: 120px;
        margin: auto;
        text-transform: uppercase;
    }
}
.s_elegirnos{
    position: relative;
    &::before{
        content: '';
        position: absolute;
        width: 300px;
        height: 300px;
        background: url('../images/diseno/01-home/C1.png')no-repeat center;
        background-size: contain;
        left: 0;
        top: 0;
        z-index: 0;
    }
    &::after{
        content: '';
        position: absolute;
        width: 300px;
        height: 300px;
        background: url('../images/diseno/01-home/E1.png')no-repeat center;
        background-size: contain;
        right: 0;
        bottom: -100px;
        z-index: 0;
    }
}


.cont_gen_elegirnos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: relative;
    .col_el{
        justify-self: center;
        text-align: center;
        .item_el{
            margin-bottom: 30px;
            picture{
                margin-bottom: 20px;
                display: inline-block;
            }
            .desc_txt_el{
                line-height: 1.4;
            }
        }
    }
}

.s_noticias_dest{
    background: url('../images/diseno/01-home/bg_section_aguacate3.png')no-repeat center left;
    background-size: 600px;
    padding: 100px 0;
    box-sizing: border-box;
    .tit_section{
        margin-bottom: 50px;
    }
}

.swiperNoticias{
    .swiper-wrapper{
        padding-bottom: 50px;
    }
    
    .swiper-slide{
        &:nth-child(3n+1){
            background: #BBCE36;
        }
        &:nth-child(3n+2){
            background: #EE790E;
        }
        &:nth-child(3n+3){
            background: #5EE4E0;
        }
        height: 100vh;
        max-height: 420px;
        position: relative;
        a{
            display: grid;
            grid-template-columns: 1.4fr 1fr;
            padding: 30px;
            box-sizing: border-box;
            height: 100%;
            align-items: center;
            picture{
                position: absolute;
                top: 0;
                bottom: 0;
                right: -200px;
                transition: 600ms ease-out;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: 400ms ease;
                    mix-blend-mode: normal;
                }
            }
            &:hover{
                picture{
                    //  right: -120px;
                    img{
                        width: 160%;
                        height: 100%;
                        object-fit: cover;
                        opacity: .4;
                        mix-blend-mode: multiply;
                    }
                }
            }
            .cont_desc_nota{
                text-align: left;
                position: relative;
                z-index: 2;
                h4{
                    margin-bottom: 20px;
                }
                .info_nota{
                    margin-bottom: 20px;
                    display: flex;
                    flex-direction: column;
                    .cont_info{
                        margin-bottom: 10px;
                        span{
                            margin-right: 6px;
                        }
                    }
                }
                .resumen{
                    line-height: 1.5;
                }
            }
        }
    }
}

@media screen and (max-width:1050px){
    .header{
        .nav_desktop{
            display: none;
        }
        .nav-mobile{
            display: block;
        }
    }
}